<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skelly01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skelly02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skelly03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skelly04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skellyWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skellyWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,350}}</string>
                <key>sourceSize</key>
                <string>{120,350}</string>
            </dict>
            <key>skellyWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{110,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,350}}</string>
                <key>sourceSize</key>
                <string>{110,350}</string>
            </dict>
            <key>skellyWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{110,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,350}}</string>
                <key>sourceSize</key>
                <string>{110,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skellyAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2726782faef04df06c7717b45fa0a843:eefdc7f66e850aa8310cc40f6e90fbc5:07165f5da931cf51ee3464e4c74e3438$</string>
            <key>textureFileName</key>
            <string>skellyAnim.png</string>
        </dict>
    </dict>
</plist>
